.container-code-editor{
    background-color: rgb(20, 18, 18);
    margin: 0;
    padding: 0;
    width: 100%;
    position: fixed;
    height: 90vh;
}

.code-editor{
    overflow: hidden;
}
.code textarea{
    height: 80vh;
}

.run-button{
    background-color: rgb(50, 171, 50);
    color: rgb(255, 255, 255);
    font-weight: bold;
    border-radius: none;
    text-decoration: none;
}
.code{
    padding: .4rem;
}
.code-editor-input{
    padding: 1.3rem;
}

#result{
   
   height: 100%;
   width: 100%;
    background-color: white;
}


