@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* -----------------------------------Default CSS----------------------------------------- */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Inter';
}

:root{
    --primary-color : #3b70a6;
    --primary-text-color : rgb(215, 213, 213);
}

body {
    font-family: inherit;
 
    letter-spacing: -0.4px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    
}

.hamburger{
    cursor: pointer;
}

.hamburger div{
    width: 30px;
    height: 2px;
    margin: 6px 0;
    background: #263d3d;
}


/* ------------------Header------------------------------------ */

header {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    background: #aebbc9;
}
header .header-left {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


header .header-left nav ul {
    display: flex;
}
nav ul li a {
    display: block;
    color: #cfd9e0;
    font-size: 18px;
    padding: 5px 10px;
    transition: 0.2s;
}
nav ul li a:hover,
nav ul li a.active {
    color: #fff;
}


header .header-right .hamburger {
    
    cursor: pointer;
    display: none;
   
}
header .header-right .hamburger div {
    width: 30px;
    height: 2px;
    margin: 6px 0;
    background: #263d3d;
}



/* -----------Below Header --------------- */
.below-header {
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    align-items: center;
    background: #cad2d3;
}

.below-header .hamburger div{
    width: 20px;
    height: 2px;
    margin: 2px 0;
}










/* ------------------------Media Queries----------------------- */

@media only screen and (max-width: 910px) {
    header, .below-header {
        padding: 0 20px;
    }
    header .header-right .hamburger {
        display: block;
       
    }
    header .header-left nav {
        margin: 0;
        position: absolute;
        top: -100%;
        left: 0;
        width: 100%;
        height: fit-content;
        background-color: #d6c7c7;
        padding: 30px;
        transition: 0.3s;
        text-align: center;
        z-index: -1;
    }
    header .header-left nav.active {
        top: 70px;
    }
    header .header-left nav ul {
        display: block;
    }
}