/* Add the following styles to your existing CSS */

.content {
  display: flex;
  margin: 60px auto; /* Center the content */
  max-width: 1280px; /* Set your desired maximum width */
}

@media screen and (max-width: 768px) {
  .content {
    flex-direction: column;
  }

  /* Adjustments for CardList in mobile view */
  .cardlist {
    flex: 1; /* Adjust the flex value as needed */
    order: 2;
    margin-top: 20px;
  }

  /* Adjustments for Menu in mobile view */
  .menu {
    flex: 1; /* Adjust the flex value as needed */
    order: 1;
  }
}
